*.zip

java/.gradle
java/build/
java/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

java/CHANGELOG.md
java/site/javadoc**
